@media (max-width: 1150px) {
  .slider__inner::after,
  .slider__inner::before,
  .footer::before,
  .footer::after {
    display: none;
  }
}
@media(max-width: 940px) {
  .info__inner {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    
  }
  .info__item {
    margin-right: 50px;
    margin-bottom: 50px;
    width: 33.3%;
  }
  .info__item img{
    width: 100%;
  }
}

@media(max-width: 870px) {
  .work__item {
    padding-right: 15px;
  }
  .contact {
    width: 100%;
    margin-top: 30px;
  }
  .footer__inner {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .twitter,
  .about {
    width: 50%;
    padding-right: 15px;
  }
  .footer__inner {
    padding: 30px;
  }
}
@media(max-width: 770px) {
  .work__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .work__item {
    padding-right: 15px;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media(max-width: 580px) {

  .header__menu-btn  {
    display: block;
  }
  .header__menu ul {
    display: none;
    position: absolute;
    top: 78px;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 12;
    background-color: #e8663c;
    
  }
  .about,
  .twitter {
      width: 100%;
      padding-right: 15px;
    }
  .contact {
    margin-top: 0;
  }
  .footer__item {
    margin-bottom: 30px;
  }
  .header__menu li {
    display: block;
    text-align: center;
  }
  .header__menu ul li + li {
    margin-left: 0;
  }
  .header__menu a {
      color: #d9d9d9;
      transition: all 0.3s;
      font-weight: 400;
      font-family: 'Babes', sans-serif;
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 20px;
      margin-top: 20px;
      width: 100%;
      letter-spacing: 0.5px;
  }
  .header__menu a:hover {
    color: #fff;
  }
  .slider__box {
    width: 80%;
  }
  .slick-arrow img {
    width: 30px;
    height: 30px;
  }
  .slick-prev {
    width: 54px;
    height: 50px;
    left: 25px;
    z-index: 10;
  
  }
  .slick-next {
    width: 54px;
    height: 50px;
    right: 25px;
  }
  
}
@media(max-width: 490px) {
  .info__inner {
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  .info__item {
    margin-right: 50px;
    margin-bottom: 50px;
    width: 100%;
  }
  .info__item img{
    width: 100%;
  }
}

@media(max-width: 443px) {
  .slick-arrow {
    display: none;
  }
  .slider__box {
    width: 80%;
    padding: 20px;
  }
}









@media (min-width: 581px) {
  .header__menu ul {
    display: block !important;
  }
}